<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的问卷</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/public.css">
    <link rel="stylesheet" href="__STATIC__/css/main.css">
    <script src="__STATIC__/js/jquery-1.12.3.min.js"></script>
    <script src="__STATIC__/js/angular.js"></script>
    <script src="__STATIC__/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div style="background: #0078c8">
    <div class="container-fluid">
        <div class="row text-nowrap" style="color: white;line-height: 50px;font-size: 16px">
            <div class="col-lg-1 col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-1 col-lg-1 col-md-1 col-sm-1"><img class="img-responsive" src="__STATIC__/image/logo.png" alt=""></div>
            <div class="col-lg-5 col-lg-5 col-md-5 col-sm-5"></div>
            <div class="col-lg-1 col-lg-1 col-md-1 col-sm-1"><a class="a_white" href="{:url('index/Link/myquestionnaire')}"><span class="glyphicon glyphicon-list-alt"></span> 我的问卷</a></div>
            <div class="col-lg-1 col-lg-1 col-md-1 col-sm-1 dropdown">
                <button type="button" class="btn btn-default"  data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> <span id="uid_nav">admin</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{:url('index/Link/personalcenter')}">用户信息</a></li>
                    <li><a href="#">客服中心</a></li>
                    <li class="divider"></li>
                    <li class="disabled"><a href="#">升级</a></li>
                </ul>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-envelope"></span>
                    消息
                </button>

            </div>
            <div class="col-lg-1 col-lg-1 col-md-1 col-sm-1">
                <button id="logoutBtn" type="button" class="btn btn-default">
                    <a class="" href="index.php?ctrlType=user&fcType=logout"><span class="glyphicon glyphicon-off"></span>退出</a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"><button id="createQ_btn" type="button" class="transition btn btn_orange">+ 创建问卷</button></div>
        <div class="col-lg-4 col-md-4 col-sm-4"><input class="text_blue" type="text" placeholder="请输入问卷名"></div>
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><button type="button" class="btn_blue"><span class="glyphicon glyphicon-trash"></span> 回收站</button></div>
    </div>
    <div class="div_folder"></div>
</div>

<div id="vue" class="container">
    <div id="showQ_div" style="margin-top: 20px">
        <show_qnr url="{:url('index/Qnr/qnrlimit')}">
        </show_qnr>
        <!--<div class="q" v-for="item in arr" >
            <div class="q_top">
                <span>ID:{{item.qnrid}}  </span> <span> {{item.qnrname}}</span> <span class="span_right">{{item.time}}</span> <span class="span_right">答卷：<span>0</span></span><span class="span_right">草稿</span>
            </div>
            <div class="q_bot">
                <div class="row text-nowrap" style="line-height: 58px">
                    <div class="col-lg-2 col-md-2 col-sm-2"><i class="glyphicon glyphicon-edit"></i> 设计问卷 <span class="caret"></span></div>
                    <div class="col-lg-2 col-md-2 col-sm-2"><i class="glyphicon glyphicon-edit"></i> 发送问卷 <span class="caret"></span></div>
                    <div class="col-lg-2 col-md-2 col-sm-2"><i class="glyphicon glyphicon-edit"></i> 分析&下载 <span class="caret"></span></div>
                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                    <div class="col-lg-1 col-md-1 col-sm-1"><i class="glyphicon glyphicon-play-circle"></i> 发布 <span class="caret"></span></div>
                    <div class="col-lg-1 col-md-1 col-sm-1"><i class="glyphicon glyphicon-play-circle"></i> 复制 <span class="caret"></span></div>
                    <div class="col-lg-1 col-md-1 col-sm-1"><i class="glyphicon glyphicon-play-circle"></i> 删除 <span class="caret"></span></div>
                    <div class="col-lg-1 col-md-1 col-sm-1"><i class="glyphicon glyphicon-play-circle"></i> 文件夹 <span class="caret"></span></div>
                    <div class="col-lg-1 col-md-1 col-sm-1"><i class="glyphicon glyphicon-play-circle"></i> 提醒 <span class="caret"></span></div>
                </div>
            </div>
        </div>-->
    </div>
    <div id="btnDiv" class="fenyeDiv text-center" >
        <btndiv></btndiv>
        <!-- <nav>
             <ul class="pager">
                 <li><a href="#" idx="1" v-on:click="firstBtn">首页</a></li>
                 <li><a href="#" idx="{{lastPage}}" v-on:click="lastBtn">上一页</a></li>
                 <li><input size="4" v-model="nowPage"  type="text" v-on:change="changeBtn">/{{allPage}}页</li>
                 <li><a href="#" idx="{{nextPage}}" v-on:click="nextBtn">下一页</a></li>
                 <li><a href="#" idx="{{allPage}}" v-on:click="endBtn">尾页</a></li>
             </ul>
         </nav>-->
    </div>
</div>


<div class="container-fluid" >
    <div style="height: 100px;"></div>
    <div class="row text-center" style="background: #f7f8f9;height: 50px;line-height: 50px">
        问卷星 | 不止问卷调查/在线考试
    </div>
</div>

</body>
</html>
<script>
    var createQ = "{:url('index/Link/createquestionnaire')}";
    var islogin_url = "{:url('index/User/islogin')}";
</script>
<script src="__STATIC__/js/myQ.js"></script>
